@import "./base.css";

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 65vh;
}

.title {
    font-size: 4vw;
    margin-bottom: 1em;
}

.gradient-text {
    background: linear-gradient(30deg, var(--color-mewi-blue), var(--color-mewi-cyan));
    background-clip: text;
    color: transparent;
}

.list {
    text-align: left;
    font-size: 2vw;
}